* {
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  font-style: none;
}
.navbar {
  display: flex;
  gap: 20px;
  padding: 20px;
  justify-content: center;

  background-color: blanchedalmond;
}

a {
  color: rgb(0, 0, 0);
}

a:hover {
  color: gray;
}
